[
  [ "base_service", "POST", "/services", {
      "host": "example-service.com",
      "path": "/foo"
  }],

  [ "service_with_url", "POST", "/services", {
    "url": "http://example-service2.com/bar"
  }],

  [ "hosts_route", "POST", "/routes", {
    "hosts": [ "example-route.com" ],
    "*service": { "*id": "base_service.id" }
  }],

  [ "methods_route", "POST", "/routes", {
    "methods": [ "GET" ],
    "*service": { "*id": "service_with_url.id" }
  }],

  [ "simple_api", "POST", "/apis", {
    "name": "simple_api_2",
    "hosts": [ "example-api.com" ],
    "upstream_url": "http://example-api.com/api"
  }],

  [ "_", "POST", "/plugins", {
    "name": "key-auth",
    "*api_id": "simple_api.id"
  }]
]
